$color: white;
$bgColor: #ff4e33;
$blockColor: #3b3f50;
$first_Font: 'Source Sans Pro', sans-serif;
$second_Font: 'Hind', sans-serif;
$third_Font: 'Fresca', sans-serif;
$bgImgURL: url("../img/m-h-night.jpg");
$buttonColor: #e3ac00;
$gradientColors: linear-gradient(90deg, rgba(218,158,9,1) 0%, rgba(150,50,79,1) 100%);
$mainBGColor: #21232e;