$color: #2c2f3c;
$bgColor: #14a0c7;
$blockColor: #21232e;
$first_Font: 'Source Sans Pro', sans-serif;
$second_Font: 'Hind', sans-serif;
$third_Font: 'Fresca', sans-serif;
$bgImgURL: url("../img/m-h-day.jpg");
$buttonColor: #699900;
$gradientColors: linear-gradient(90deg, rgba(99,146,21,1) 0%, rgba(46,92,213,1) 100%);
$mainBGColor: white;