/* Todo: your styles go here*/
*{
    margin: 0;
    padding: 0;
}

.pos{
    position: relative;
    top: 3px;
}

ul, li {
    list-style-type: none;
    cursor: pointer;
    padding-inline-start: 3px;
}

.folder:hover, .file:hover {
    background-color: lightgrey;
}

.folder i {
    color: rgb(201, 183, 20);
    vertical-align: bottom;
    font-size: 20px;
}

.file i {
    color: rgb(117, 114, 114);
    vertical-align: bottom;
    font-size: 20px;
}

.folderLook {
    display: none;
}

.active {
    display: block;
}

.closed::after {
    content: "folder";
}

.opened::after {
    content: 'folder_open';
}